<mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
  <mat-card-title>Account Information</mat-card-title>
  <hr>
  <form fxLayout="column" #userDetailForm="ngForm">
    <div>
      <mat-form-field>
        <mat-placeholder>Name</mat-placeholder>
        <input type="text" matInput name="name">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" >Update</button>
    </div>
    <div> 
      Email: {{user.email}}
      <button type="submit" mat-raised-button color="primary" >Update</button>
    </div>
    <hr>
    <div>
      <mat-form-field>
        <mat-placeholder>Phone</mat-placeholder>
        <input type="tel" matInput name="phone">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Update</button>
    </div>
    <hr>
    <div>
      <mat-form-field>
        <mat-placeholder>Password</mat-placeholder>
        <input type="password" matInput name="psw" >
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" >Update</button>
    </div>
  </form>
</mat-card>




