<main class="container">
  <mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Reset Password</mat-card-title>
    <form [formGroup]="resetpasswordFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" #resetpasswordForm="ngForm">
      <mat-form-field>
        <mat-placeholder>Please Paste Token from Email</mat-placeholder>
        <input type="text" matInput id="token" name="token" formControlName="token" required>
        <mat-error *ngIf="resetpasswordFormGroup.get('token').invalid">
          {{getError('token')}}
        </mat-error>
      </mat-form-field>
      Time Remaining: {{currTime}} s
      <button *ngIf="currTime > 0  else able" [disabled]="disable" mat-raised-button color="disable">Resend Email</button>
      <ng-template #able>
        <button (click)="resend()"  mat-raised-button color="primary">Resend Email</button>
      </ng-template>
      <mat-form-field>
        <mat-placeholder>Input New Password</mat-placeholder>
        <input [type]="show ? 'text' : 'password'" matInput id="password" formControlName="password" required>
        <mat-error *ngIf="resetpasswordFormGroup.get('password').invalid && resetpasswordFormGroup.get('password').errors.required && (resetpasswordFormGroup.get('password').touched || resetpasswordFormGroup.get('password').dirty)">
          password is required
        </mat-error>
        <mat-error *ngIf="resetpasswordFormGroup.get('password').invalid && resetpasswordFormGroup.get('password').errors.minlength">
          Password must be at least 8 characters
        </mat-error>
        <mat-error *ngIf="resetpasswordFormGroup.get('password').invalid && resetpasswordFormGroup.get('password').hasError('passwordStrength')">
          {{resetpasswordFormGroup.get('password').errors['passwordStrength']}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Confirm Password</mat-placeholder>
        <input type="password" matInput id="confirm_password" formControlName="confirm_password" required>
        <mat-error *ngIf="resetpasswordFormGroup.controls['confirm_password'].invalid && (resetpasswordFormGroup.get('confirm_password').touched || resetpasswordFormGroup.get('confirm_password').dirty)">
          {{getError('confirm_password')}}
        </mat-error>
      </mat-form-field>
      <div>
        <mat-checkbox (click)="myFunction()">Show Password</mat-checkbox>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" style="background-color: #66A756;">Reset Password</button>
      </div>
    </form>
  </mat-card>
</main>

