<main class="container">
  <mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Reset Password</mat-card-title>
    <form [formGroup]="resetpasswordFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" #resetpasswordForm="ngForm">
      <mat-form-field>
        <mat-placeholder>Please Paste Token from Email</mat-placeholder>
        <input type="text" matInput id="token" name="token" formControlName="token" required>
      </mat-form-field>
      <ng-template #able>
        <button (click)="resend()"  mat-raised-button color="primary">Resend Email</button>
      </ng-template>
      <mat-form-field>
        <mat-placeholder>Input New Password</mat-placeholder>
        <input [type]="show ? 'text' : 'password'" matInput id="password" formControlName="password" required>
      </mat-form-field>
      <mat-checkbox (click)="myFunction()">Show Password</mat-checkbox>
      <mat-form-field>
        <mat-placeholder>Confirm Password</mat-placeholder>
        <input type="password" matInput id="confirm_password" formControlName="confirm_password" required>
      </mat-form-field>
      <div>
        <button type="submit" mat-raised-button color="primary" style="background-color: #66A756;">Reset Password</button>
      </div>
    </form>
  </mat-card>
</main>

