<main class="container">
  <mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Forget Password</mat-card-title>
    <form (ngSubmit)="forgetpasswordForm.valid && onSubmit(forgetpasswordForm.value)" fxLayout="column" #forgetpasswordForm="ngForm">
      
      <mat-form-field>
        <mat-placeholder>Please Input Email</mat-placeholder>
        <input type="text" matInput id="email" name="email" ngModel #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <mat-error *ngIf="(forgetpasswordForm.submitted || email.touched) && email.invalid && email.errors.required">
          Email can't be empty!
        </mat-error>
        <mat-error *ngIf="(forgetpasswordForm.submitted || email.touched) && email.invalid && email.errors.pattern">
          Email format not correct!
        </mat-error>
      </mat-form-field>
      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card>
</main>
