<mat-horizontal-stepper  #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Event status, Event type and Venue</ng-template>
      <mat-form-field>
        <mat-label>Event Type</mat-label>
        <mat-select formControlName="event_type_code">
          <mat-option *ngFor="let type of eventtypes" [value]="type.eventTypeCode">
            {{type.eventTypeDescription}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Venue</mat-label>
        <mat-select formControlName="venue_id">
          <mat-option *ngFor="let venue of venues" [value]="venue.venue_id">
            {{venue.venue_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your Information</ng-template>
      <mat-form-field>
        <mat-placeholder>Commercial Type</mat-placeholder>
        <input type="text" matInput formControlName="commercial_type">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Event Name</mat-placeholder>
        <input type="text" matInput formControlName="event_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Event Start Time</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="event_start_time">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Start Time Clock</mat-placeholder>
        <input type="time" matInput formControlName="starttimeclock">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Event End Time</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="event_end_time">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>End Time Clock</mat-placeholder>
        <input type="time" matInput formControlName="endtimeclock">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Timezone</mat-placeholder>
        <input type="text" matInput formControlName="timezone">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill out your Information</ng-template>
      <mat-form-field>
        <mat-placeholder>Number of Participants</mat-placeholder>
        <input type="number" matInput formControlName="number_of_participants">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Derived days duration</mat-placeholder>
        <input type="number" matInput formControlName="derived_days_duration">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>Event cost</mat-placeholder>
        <input type="number" matInput formControlName="event_cost">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder>discount</mat-placeholder>
        <input type="number" matInput formControlName="discount">
      </mat-form-field>
      <mat-form-field>
      <mat-placeholder>Comments</mat-placeholder>
      <input type="text" matInput formControlName="comments">
    </mat-form-field>
      <div></div>
      <mat-icon>add_photo_alternate</mat-icon>
      <mat-form-field>
        <mat-placeholder>Image Url</mat-placeholder>
        <input type="text" matInput formControlName="url">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p >
    <div>
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Create Event</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
